body {
    background-color: #e6f8f4;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

header, .row {
    display: flex;
}
  
.col {
    flex: 1;
}

.card {
    width: 35px;
    height: 30px;
    margin: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.red {
    color: #e41f25;
}

.black {
    color: #000;
}

.rounds {
    background-color: #5f3f8a;
    color: #fff;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
}

.winner {
    background-color: #529179;
    color: #fff;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
}